	body {margin: auto 0; text-align: center;}
	h1 {font-family: 'Pacifico', cursive;}
	header {}
	.container {}
	#main-bio {}
	#contact {}
	img {border: none; text-align: center; height: 50%; width: auto;}
	.text-center {text-align: center;}
	ul {list-style-type: none;}
	table {text-align: center;}